<!DOCTYPE html>
<html lang="en"
		xmlns:th="http://www.thymeleaf.org"
     	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
		<head>
		    <meta charset="UTF-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <title>Service</title>
		    <meta name="description" content="">
		    <meta name="keywords" content="">
		   	
			<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
			<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		    <link rel="stylesheet" th:href="@{/css/style_2.css}">
		</head>
		<body>
			
			<header layout:fragment="header" id="header" class="header fixed-top d-flex align-items-center">
				<div class="d-flex align-items-center justify-content-between">
					<a href="#" class="logo d-flex align-items-center Nodecoration">
						<img src="assets/img/logo.png" alt="Logo">
						<span class="d-none d-lg-block">EDII-MAFBIF</span>
					</a>
					<i class="toggle-sidebar-btn">&#9776;</i>
				</div>
			</header>
			
			<aside layout:fragment="navbar" id="sidebar" class="sidebar">
			    <ul class="sidebar-nav" id="sidebar-nav">
			        <li class="nav-item">
			            <a class="nav-link collapsed" th:href="@{/admin/events/form}">
			                <i class="bi bi-grid"></i>
			                <span>Events</span>
			            </a>
			        </li>
			        <li class="nav-item">
			            <a class="nav-link collapsed" th:href="@{/admin/services}">
			                <i class="bi bi-menu-button-wide"></i>
			                <span>Serivces</span>
			                <i class="bi bi-chevron-down ms-auto"></i>
			            </a>
			        </li>
					<li class="nav-item">
					    <a class="nav-link collapsed"  href="#">
					        <i class="bi bi-menu-button-wide"></i>
					        <span>Technology</span>
					        <i class="bi bi-chevron-down ms-auto"></i>
					    </a>
					</li>
			    </ul>
			</aside>
			<main id="main" class="main">
				<section layout:fragment = "content">
					
				</section>
			</main>
			<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
			<script th:src="@{/js/main_2.js}"></script>
		</body>
		
</html>

