<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout.html}">
	<body>
		<section>
			<!-- Navbar & Hero Start -->
			<div layout:fragment = "navbar" class="container-fluid py-5 position-relative p-0">
			    
				<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
					<a href="" class="navbar-brand p-0">
			            <h2 class="text-primary"><img src="">EDII-MAFBIF</h2>
					</a>
			       
			</div>
			<!-- Navbar & Hero End -->
			<!-- 404 Start -->
			       <div layout:fragment = "content" class="container-fluid bg-light py-5">
			           <div class="container py-5 text-center">
			               <div class="row justify-content-center">
			                   <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
			                       <i class="far fa-frown-open display-1 text-primary mb-4" style="width: 80px; height: 80px;"></i>
			                       <h1 class="display-1">Error Occured !!</h1>
			                       <p class="mb-4">We’re sorry, the page you have looked for does not exist in our website! Maybe error occured! My bad!</p>
			                       <a class="btn btn-primary rounded-pill py-3 px-5" th:href="@{/}">Go Back To Home</a>
			                   </div>
			               </div>
			           </div>
			       </div>
			       <!-- 404 End -->
		</section>
	</body>
</html>