<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout.html}">
	<body>
		<div layout:fragment = "content">
			<!-- FAQs Start -->
			<div class="container-fluid services-section py-auto">
				<div class="container py-5 overflow-hidden">
					<div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
						<h1 class="display-5 mb-4">Pioneer Technologies</h1>
					</div>
					<div class="g-5 align-items-center">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">        
							<div>
								<h4 class="text-primary mb-4">1.Biomass Briquetting and Pelleting Technology</h4>
								<p class="mb-4 textjustify">
									Biomass briquettes are a biofuel substitute to coal and charcoal, made from agricultural and forestry waste. This process converts low-density biomass into high-density biomass briquettes.
								</p>
							</div>
			                <div>
								<h4 class="text-primary mb-4">2.Activated Carbon Generation</h4>
								<p class="mb-4 textjustify">
									Generation of activated carbon through continuous carbonization of wood species, used for various industrial purposes.
								</p>
							</div>
							<div>
								<h4 class="text-primary mb-4">3.Wood Value Addition Technology</h4>        
								<p class="mb-4 textjustify">
									Skill development in wood value addition, such as antiques and carvings, utilizing CNC router machines.
								</p>
							</div>
							<div>
								<h4 class="text-primary mb-4">4.Oil Extraction from Tree Borne Oil Seeds</h4>
			                	<p class="mb-4 textjustify">
									Extraction of oil from tree-borne oil seeds, which have various domestic and industrial uses, including agriculture, cosmetics, pharmaceuticals, and bio-diesel production.
								</p>
			               </div>
						   <div>
								<h4 class="text-primary mb-4">5.Steam Distillation for Essential Oils</h4>
								<p class="mb-4 textjustify">
									Extraction of essential oils from tree components using the steam distillation method, offering business opportunities in both local and international markets.
								</p>
							</div>
							<div>
								<h4 class="text-primary mb-4">6.Mini Clonal Propagation Technology</h4>
								<p class="mb-4 textjustify">
									Production of quality planting material and its mass multiplication through mini clonal propagation technology, aimed at commercial tree-based nurseries.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid services-section py-auto">
				<div class="container py-5 overflow-hidden">
					<div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
						<h1 class="display-5 mb-4">Supporting Technologies</h1>
					</div>
					<div class="g-5 align-items-center">
						 <div class="wow fadeInLeft" data-wow-delay="0.2s">
							<h4 class="text-primary mb-4">1.Tall Seedling Production</h4>
							<h4 class="text-primary mb-4">2.Tree Burlapping Technology</h4>
							<h4 class="text-primary mb-4">3.Cocoon Craft Technology</h4>
							<h4 class="text-primary mb-4">4.ITKs Validation</h4>
							<h4 class="text-primary mb-4">5.Timber Digital Trade</h4>
							<h4 class="text-primary mb-4">6.Medicinal Products</h4>
							<h4 class="text-primary mb-4">7.Non-Wood Forest Products</h4>
						</div>
					</div>
				</div>
			</div>
			<!-- FAQs end -->
		</div>
	</body>
</html>