<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout.html}">
	<body>
		<div layout:fragment = "content">
			<!-- FAQs Start -->
			<div class="container-fluid services-section py-auto">
				<div class="container py-5 overflow-hidden">
					<div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
						<h1 class="display-5 mb-4">Pioneer Technologies</h1>
					</div>
					<div class="g-5 align-items-center">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
			            	<th:block th:each="pioneerObj : ${pioneer}">
								<div>
									<h4 th:text = "${pioneerObj.name}" class="text-primary mb-4"></h4>
									<p th:utext = "${pioneerObj.content}" class="mb-4 textjustify"></p>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid services-section py-auto">
				<div class="container py-5 overflow-hidden">
					<div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
						<h1 class="display-5 mb-4">Supporting Technologies</h1>
					</div>
					<div class="g-5 align-items-center">
						 <div class="wow fadeInLeft" data-wow-delay="0.2s">
							<th:block th:each="supportObj : ${support}">
									<h4 th:text = "${supportObj.name}" class="text-primary mb-4"></h4>
							</th:block>
						</div>
					</div>
				</div>
			</div>
			<!-- FAQs end -->
		</div>
	</body>
</html>